-Xms256m -Xmx2g -XX:+UnlockExperimentalVMOptions -XX:+UseParallelGC -XX:NewRatio=3 -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:CICompilerCount=1 -XX:TieredStopAtLevel=1 -Dsun.zip.disableMemoryMapping=true -Djava.security.egd=file:/dev/./urandom
