<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>false</interactiveMode>
    <usePluginRegistry>false</usePluginRegistry>
    <offline>false</offline>

    <profiles>
        <profile>
            <id>ossrh</id>
            <properties>
                <gpg.executable>${env.GPG_EXECUTABLE}</gpg.executable>
                <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>

        <profile>
            <id>sonatype</id>
            <repositories>
                <repository>
                    <id>sonatype-releases</id>
                    <name>Sonatype repo (releases)</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://oss.sonatype.org/content/repositories/releases/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>sonatype-snapshots</id>
                    <name>Sonatype repo (snapshots)</name>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>apache</id>
            <repositories>
                <repository>
                    <id>apache-releases</id>
                    <name>Apache repo (releases)</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://repository.apache.org/content/repositories/releases/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>apache-snapshots</id>
                    <name>Apache repo (snapshots)</name>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://repository.apache.org/snapshots/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>maven</id>
            <repositories>
                <repository>
                    <id>maven-releases</id>
                    <name>Maven Central Repository</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>http://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>bintray</id>
            <repositories>
                <repository>
                    <id>bintray-releases</id>
                    <name>JCenter BinTray repo (releases)</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>https://jcenter.bintray.com/</url>
                    <layout>default</layout>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>bintray-plugins</id>
                    <name>JCenter BinTray repo (releases)</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>https://jcenter.bintray.com</url>
                    <layout>default</layout>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub OWNER Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/AlexRogalskiy/object-mappers-playground</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>teamcity</id>
            <repositories>
                <repository>
                    <id>jetbrains-all</id>
                    <name>JetBrains TeamCity repository</name>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>https://download.jetbrains.com/teamcity-repository</url>
                    <layout>default</layout>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>JetBrains</id>
                    <name>JCenter BinTray repo (releases)</name>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>https://download.jetbrains.com/teamcity-repository</url>
                    <layout>default</layout>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>sonatype</activeProfile>
        <activeProfile>apache</activeProfile>
        <activeProfile>maven</activeProfile>
        <activeProfile>bintray</activeProfile>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>

        <server>
            <id>sonatype-nexus-staging</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>

        <server>
            <id>github</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>

        <server>
            <id>maven</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_CENTRAL_TOKEN}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>google-maven-central</id>
            <name>GCS Maven Central mirror</name>
            <url>https://maven-central.storage-download.googleapis.com/repos/central/data/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
</settings>
