lombok.accessors.chain=false
config.stopBubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.extern.findbugs.addSuppressFBWarnings=false
lombok.nonnull.exceptiontype=IllegalArgumentException
lombok.noArgsConstructor.extraPrivate=false
#lombok.anyConstructor.addConstructorProperties = true
lombok.anyconstructor.suppressconstructorproperties=true
lombok.fieldDefaults.defaultPrivate=true
lombok.fieldNameConstants.uppercase=true
#lombok.fieldDefaults.defaultFinal=true
lombok.log.fieldName=log
lombok.synchronized.flagUsage=WARNING
lombok.fieldNameConstants.flagUsage=WARNING
lombok.fieldNameConstants.innerTypeName=FieldNames
