[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Object-mappers playground
[access "refs/*"]
	owner = group user/Alexander (AlexRogalskiy)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alexander (AlexRogalskiy)
	label-Verified = -1..+1 group user/Alexander (AlexRogalskiy)
	push = group user/Alexander (AlexRogalskiy)
	read = group user/Alexander (AlexRogalskiy)
	rebase = group user/Alexander (AlexRogalskiy)
	removeReviewer = group user/Alexander (AlexRogalskiy)
	submit = group user/Alexander (AlexRogalskiy)
[access "refs/heads/*"]
	create = group user/Alexander (AlexRogalskiy)
	push = +force group user/Alexander (AlexRogalskiy)
	pushMerge = group user/Alexander (AlexRogalskiy)
	read = group user/Alexander (AlexRogalskiy)
[access "refs/tags/*"]
	push = group user/Alexander (AlexRogalskiy)
	push = +force group user/Alexander (AlexRogalskiy)
