name: Daily build

on:
  schedule:
    - cron: '0 */12 * * *'

env:
  MAVEN_ARGS: >-
    --file pom.xml --show-version --batch-mode --errors --lax-checksums -DskipTests=true

jobs:
  macos-build:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false

      - name: Checkout repository
        uses: actions/checkout@v1
        with:
          submodules: "recursive"
          fetch-depth: 2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Make Maven Wrapper executable
        if: contains(matrix.os, 'win') == false
        run: |
          chmod +x ./mvnw

      - name: Build with Maven
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        timeout-minutes: 20
        run: |
          ./mvnw clean package $MAVEN_ARGS -P"non_module_java","test-jar","dev"

  windows-build:
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false

      - name: Checkout repository
        uses: actions/checkout@v1
        with:
          submodules: "recursive"
          fetch-depth: 2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        timeout-minutes: 20
        run: |
          ./mvnw clean package %MAVEN_ARGS% -P"non_module_java","test-jar","dev"
